<footer class="site-footer" role="contentinfo">
  <div class="container footer-inner">
    <div class="footer-disclaimer">
      <p>{{ site.footerDisclaimer }}</p>
    </div>
    <div class="footer-copyright">
      <p>{{ site.footerCopyright }}</p>
    </div>
  </div>
</footer>
